article.contact {
    h2 {
        background-size: 7rem 1.5rem;
    }
    
    form {
        margin: 0 auto;
        max-width: 500px;

        .input-group {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 15px;
        }

        input, textarea, button {
            display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        button {
            cursor: pointer;
            background:$primary-color;
            outline: red;
            border: none;
            padding: 15px;
            color: #fff;
            font-weight: bold;
            font-size: 1em;
            transition: background 0.2s ease-in;
        }

        button:hover {
            background: darken($primary-color, 10%);
        }
    }
}