.content-page {
    padding-bottom: 2rem;
    
    article:first-of-type {
        margin-bottom: 4rem;
    }

    h2 {
        text-align: left;
        background-size: 50rem 1.5rem;
    }

    li {
        margin-bottom: .5rem;
    }
}