section.featured-project {
    margin: 3rem 0 5rem 0;

    &:last-of-type {
        margin: 3rem 0;
    }
    
    a img {
        max-width: 100%;

        &:hover, 
        &:focus {
            opacity: 0.8;
            transition: opacity 0.3s ease-in;
        }
    }
}

.project-info {
    text-align: right;
    
    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        font-size: .75em;
        color: lighten($text-color, 20%);

        li {
            margin: 0 0 0 1.5rem;
            font-size: 1.5em;
        }
    }

    .links {
        display: flex;
        justify-content: flex-end;

        a {
            margin: 0 0 0 1.5rem;

            img {
                width: 1.5rem;
                filter: invert(67%) sepia(2%) saturate(567%) hue-rotate(201deg) brightness(89%) contrast(87%);
            
                &:hover, 
                &:focus {
                    transition: filter 0.2s ease-in;
                    filter: invert(86%) sepia(5%) saturate(90%) hue-rotate(202deg) brightness(94%) contrast(88%);
                }
            }
        }
    }
}

section.featured-project:nth-child(odd) {
    .project-info {
        text-align: left;

        ul {
            justify-content: flex-start;
            
            li {
                margin: 0 1.5rem 0 0;
            }
        }

        .links {
            justify-content: flex-start;

            a {
                margin: 0 1.5rem 0 0;
            }
        }
    }
}

@media screen and (min-width: 750px) {
    section.featured-project {
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }

        & > * {
            width: 30rem;
            padding: 0 10px;           
        };
    }
}