.intro {
    .photo {
        display: block;
        visibility: visible;
        width: 200px;
        height: 200px;
        margin: 0 auto 1.5rem auto;
        border-radius: 50%;
        background: url("/static/headshot_photo_colored.png") 0% 0% / cover no-repeat $primary-light;
        background-repeat: no-repeat;
    }

    .greeting {
        display: flex;
        align-items: center;

        .wave {
            margin-right: .5em;
            font-size: 1.75em;

            &:hover,
            &:focus {
                animation: .5s ease infinite waving;
            }
        }
    }
}

@media screen and (min-width: 400px) {
    .intro .greeting .wave  {
        font-size: 2em;
    }
}

@keyframes waving {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(0.1turn);
    }
    100% {
        transform: rotate(0deg);
    }
}